<!DOCTYPE html>
<html>
  <head>
    <title>GamePassBookClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app' %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
